<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Productos</title>
    {% block css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/informacion.css') }}"
    >
    {% endblock %}
</head>
{% block content %} 
<body>
    <div class="container">
        <div class="title-bar">
            <a class="home-button" href="/"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
            <h1>Informacion Productos</h1>
        </div>
        <div class="table-container">
            <table>
                <tr id="titulos">
                    <th>Tipo</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Nombre Vendedor</th>
                    <th>Email Vendedor</th>
                    <th>Telefono Vendedor</th>
                    <th>Foto</th>
                </tr>
                {% if producto%}
                    {% for product in producto %}
                    <tr id="contenidos">
                        <td>{{ product.tipo }}</td>
                        <td>
                        {% for frutaVerdura in product.product%}
                            {{ frutaVerdura }}
                        {%endfor%}
                        </td>
                        <td>{{ product.descripcion }}</td>
                        <td>{{ product.region }}</td>
                        <td>{{ product.comuna }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.email }}</td>
                        <td>{{ product.phone }}</td>
                        <td>
                            {% for Image in product.path_image%}
                                <img src="{{Image}}" alt="Placeholder Image" onclick="window.location='/informacion-producto?producto_id={{product.id}}&img={{not product.imgSize}}';" style="cursor: pointer;">
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    {% if error %}
    <div class="error-message">
          {{ error }}
    {% endif %}
    {% endblock content %}
    {% block javascript %}
    <!--<script src="../js/informacion-producto.js"></script>-->
    {% endblock %}
</body>
</html>
