<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Productos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/informacion.css') }}"
    />
</head>
<body>
    <div class="container">
        <div class="title-bar">
            <a class="home-button" href="/"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
            <h1>Informacion Productos</h1>
        </div>
        <div class="table-container">
            <table>
                <tr id="titulos">
                    <th>Tipo</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Nombre Vendedor</th>
                    <th>Email Vendedor</th>
                    <th>Telefono Vendedor</th>
                    <th>Foto</th>
                </tr>
                <tr id="contenidos">
                    <td>Fruta</td>
                    <td>Manzana</td>
                    <td>Es roja y muy rica</td>
                    <td>Metropolitana</td>
                    <td>Peñalolen</td>
                    <td>Fulano Gonzalez</td>
                    <td>angelito@gmail.com</td>
                    <td>+569 8479 2267</td>
                    <td><img src="https://img.freepik.com/vector-gratis/diseno-vectores-coloridos-manzana_341269-1123.jpg?size=338&ext=jpg&ga=GA1.1.1488620777.1712793600&semt=sph" alt="Placeholder Image" id="foto"></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="../js/informacion-producto.js"></script>
</body>
</html>
