<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Productos</title>
    {% block css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/informacion.css') }}"
    />
    {% endblock %}
</head>
<body>
    {% block content %}  
    <div class="container">
        <div class="title-bar">
            <a class="home-button" href="/"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
            <h1>Informacion Productos</h1>
        </div>
        <div class="table-container">
            <table>
                <tr id="titulos">
                    <th>Tipo</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Nombre Vendedor</th>
                    <th>Email Vendedor</th>
                    <th>Telefono Vendedor</th>
                    <th>Foto</th>
                </tr>
                {% if producto%}
                <tr id="contenidos">
                    <td>{{ producto.tipo }}</td>
                    <td>{{ producto.product }}</td>
                    <td>{{ producto.description }}</td>
                    <td>{{ producto.region }}</td>
                    <td>{{ producto.comuna }}</td>
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.email }}</td>
                    <td>{{ producto.phone }}</td>
                    <td><img src="{{producto.path_image}}" alt="Placeholder Image" width="150"></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {% endblock content %}
    {% block javascript %}
    <script src="../js/informacion-producto.js"></script>
    {% endblock %}
</body>
</html>
