<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ver Productos</title>
    {% block css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ver.css') }}"
    />
    {% endblock %}
</head>
{% block content %}    
<body>
    <div class="container">
        <div class="title-bar">
            <a class="home-button" href="/"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
            <h1>Ver Productos</h1>
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Producto(s)</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Fotos</th>
                </tr>
                {% if productos%}
                    {% for producto in productos %}
                    <tr onclick="window.location='/informacion-producto?producto_id={{producto.producto_id}}';" style="cursor: pointer;">
                        <td>{{ producto.tipo }}</td>
                        <td>{{ producto.product }}</td>
                        <td>{{ producto.region }}</td>
                        <td>{{ producto.comuna }}</td>
                        <td><img src="{{producto.path_image}}" alt="Placeholder Image" width="150"></td> 
                    </tr>
                    {% endfor %}
                {% endif %}
                
            </table>
            <div class="pagination">
                {% if current_page > 1 %}
                    <a href="?page={{ current_page - 1 }}">Anterior</a>
                {% endif %}
        
                {% for page_num in range(1, total_pages + 1) %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                {% endfor %}
        
                {% if current_page < total_pages %}
                    <a href="?page={{ current_page + 1 }}">Siguiente</a>
                {% endif %}
        </div>
        {% endblock content %}
        {% block javascript %}
            <script src="../js/ver-productos.js"></script>
        {% endblock %}
        </div>
    </div>
</body>
</html>
