<!DOCTYPE html>
<html lang="es">
<head>
    <title>Frutas y Verduras</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Frutas y Verduras</h1>
        </div>
        <div class="button-container">
            <button class="button" onclick="window.location.href = 'html/agregar-producto.html'">Agregar Producto</button>
            <button class="button" onclick="window.location.href = 'html/gregar-pedido.html'">Agregar Pedido</button>
            <button class="button" onclick="window.location.href = 'html/ver-productos.html'">Ver Productos</button>
            <button class="button" onclick="window.location.href = 'html/ver-pedidos.html'">Ver Pedidos</button>
        </div>
    </div>
</body>
</html>
