<!DOCTYPE html>
<html lang="es">
<head>
    <title>Frutas y Verduras</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    >
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Frutas y Verduras</h1>
        </div>
        <div class="button-container">
            <button class="button" onclick="window.location.href = '/agregarProducto'">Agregar Producto</button>
            <button class="button" onclick="window.location.href = '/agregarPedido'">Agregar Pedido</button>
            <button class="button" onclick="window.location.href = '/ver-productos'">Ver Productos</button>
            <button class="button" onclick="window.location.href = '/ver-pedidos'">Ver Pedidos</button>
            <button class="button wide-button" onclick="window.location.href = '/estadisticas'">Ver Estadisticas</button>
        </div>

    </div>
</body>
</html>
