<!DOCTYPE html>

<html lang="es">
<head>
    <title>Agregar Pedido</title>
</head>
<body>
    <div class="container">
    <div class="title-bar">
        <a class="home-button" href="index.html"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
        <h1>Agregar Pedido</h1>
    </div>
        <form class="formulario" id="agregar-pedido-form">
            <div id="tipo-input" class="grupo-input">
                <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" required>
                        <option value="" selected disabled hidden>Seleccione un tipo</option>
                        <option value="Fruta">Fruta</option>
                        <option value="Verdura">Verdura</option>
                    </select>
            </div>
            <div id="producto-input" class="grupo-input">
                <label for="producto">Producto</label>
                <select name ="producto" id="producto" required>
                    <option value="" selected disabled hidden>Seleccione un producto</option>
                </select>
                    <label id="selectedProducts">Productos Seleccionados: </label>
                    <ul id="productList">
                    </ul>
            </div>
            <div id="descripcion-input" class="grupo-input">
                <label id="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descrip-text-area" cols="50" rows="4"></textarea>
            </div>
            <div id="region-input" class="grupo-input">
                <label for="region">Region</label>
                <select name="region" id="region" required>
                    <option value="" selected disabled hidden>Seleccione una region</option>
                    <option value="Región de Arica y Parinacota">Región de Arica y Parinacota</option>
                    <option value="Región de Tarapacá">Región de Tarapacá</option>
                    <option value="Región de Antofagasta">Región de Antofagasta</option>
                    <option value="Región de Atacama">Región de Atacama</option>
                    <option value="Región de Coquimbo">Región de Coquimbo</option>
                    <option value="Región de Valparaíso">Región de Valparaíso</option>
                    <option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</option>
                    <option value="Región del Libertador General Bernardo O'Higgins">Región del Libertador General Bernardo O'Higgins</option>
                    <option value="Región del Maule">Región del Maule</option>
                    <option value="Región del Ñuble">Región del Ñuble</option>
                    <option value="Región del Biobío">Región del Biobío</option>
                    <option value="Región de La Araucanía">Región de La Araucanía</option>
                    <option value="Región de Los Ríos">Región de Los Ríos</option>
                    <option value="Región de Los Lagos">Región de Los Lagos</option>
                    <option value="Región de Aysén del General Carlos Ibáñez del Campo">Región de Aysén del General Carlos Ibáñez del Campo</option>
                    <option value="Región de Magallanes y de la Antártica Chilena">Región de Magallanes y de la Antártica Chilena</option>
                </select>
            </div>
            <div id="comuna-input" class="grupo-input">
                <label for="comuna">Comuna</label>
                <select name="comuna" id="comuna" required>
                    <option value="" selected disabled hidden>Seleccione una comuna</option>
                </select>
            </div>
            <div id="Nombre-input" class="grupo-input">
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre"  type="text" maxlength="80" minlength="3" required>
            </div>
            <div id="mail-input" class="grupo-input">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" maxlength="30">
            </div>
            <div id="telefono-input" class="grupo-input">
                <label for="telefono">Telefono</label>
                <input id="telefono" name="telefono" type="tel" maxlength="15">
            </div>
            <div class="botones">
                <button type="button" id="envio">
                    Agregar Pedido
                </button>
            </div>
            
        </form>
    </div> 
    <div id="confirmacion" class="modal">
        <div class="modal-content" id="mymodal">
            <p>¿Confirma el registro de este producto?</p>
                <div class="botones">
                    <div style="width:100%">
                        <button id="confirmar">Sí, confirmo</button>
                        <button id="cancelar">No, quiero volver al formulario</button>
                </div>
                <div>
                    <button id="BackHome" style="display:none">Volver al Inicio</button>
                </div>
            </div>
        </div>
    </div>  
    <script src="../js/agregar-pedido.js"></script>
</body>
</html>