<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Pedidos</title>
    <style>
        

    </style>
</head>
<body>
    <div class="container">
    <div class="title-bar">
        <a class="home-button" href="index.html"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
        <h1>Informacion Pedidos</h1>
    </div>
    <div class="table-container">
        <table>
            <tr id="titulos">
                <th>Tipo</th>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Nombre Vendedor</th>
                <th>Email Vendedor</th>
                <th>Telefono Vendedor</th>
                <th>Fotos</th>
            </tr>
            <tr id="contenidos">
                <td>Fruta</td>
                <td>Platano</td>
                <td>Es amarillo y ta prodido</td>
                <td>Metropolitana</td>
                <td>Peñalolen</td>
                <td>Kathya Gomez</td>
                <td>correoVerdadero@gmail.com</td>
                <td>+569 2227 9167</td>
                <td><img src="https://img.freepik.com/foto-gratis/platano-unico-aislado-sobre-fondo-blanco_839833-17794.jpg" alt="Placeholder Image" id="foto"></td>
            </tr>
        </table>
    </div>
</div>
<script src="../js/informacion-pedido.js"></script>
</body>
</html>