<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Ver Pedidos</title>
        <style>
            
        </style>
    </head>
    <body>
        <div class="container">

            <div class="title-bar">
                <a class="home-button" href="index.html"><img src="https://png.pngtree.com/png-vector/20190711/ourmid/pngtree-house-icon-real-estate-graphic-design-template-vector-png-image_1542074.jpg" id="home-button" alt=""></a>
                <h1>Ver Pedidos</h1>
            </div>
        <table class ="table">
            <tr>
                <th>Tipo</th>
                <th>Producto(s)</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Nombre Comprador</th>
            </tr>
            <tr id="Fila1">
                <td>Fruta</td>
                <td>Manzana</td>
                <td>Metropolitana</td>
                <td>Maipu</td>
                <td>Jose</td>
            </tr>
            <tr id="Fila2">
                <td>Verdura</td>
                <td>Tomate</td>
                <td>Metropolitana</td>
                <td>Maipu</td>
                <td>Pepe</td>
            </tr>
            <tr id="Fila3">
                <td>Verdura</td>
                <td>Lechuga</td>
                <td>Metropolitana</td>
                <td>Maipu</td>
                <td>Tomas</td>
            </tr>
            <tr id="Fila4">
                <td>Verdura</td>
                <td>Lechuga</td>
                <td>Metropolitana</td>
                <td>Maipu</td>
                <td>Marivel</td>
            </tr>
            <tr id="Fila5">
                <td>Fruta</td>
                <td>Manzana</td>
                <td>Metropolitana</td>
                <td>Maipu</td>
                <td>Alfonso</td>
            </tr>
                

        </table> 
    <script src="../js/ver-pedidos.js"></script>
        </div>
    </body>
</html>